<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <h3>Data Importer</h3>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Dashboard" asp-action="Create">Groups</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Custom Fields</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Dashboard" asp-action="Contacts">Contacts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Dashboard" asp-action="ImportContact">Import Contact</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Dashboard" asp-action="ImportJob">Imports</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3"  asp-controller="Dashboard" asp-action="ExportJob">Exports</a>
    </div>
    <!-- /.sidebar-menu -->
</div>