
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Data Importer</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Groups</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Custom Fields</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Contacts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Imports</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Exports</a>
    </div>
</div>