@using FirstDemo.Models;
@using FirstDemo.Controllers
@{
    ViewData["Title"] = "StudentBranch";
}

<h1>StudentBranch</h1>
@{




}
<table style="border: 1px solid black">
    <tr style="border:1px solid black">
        <th>RegNo</th>
        <th>Name</th>
    </tr>
     
        <tr style="border:1px solid black">
            <td style="border:1px solid black">@Model.RegNo</td>
            <td style="border:1px solid black">@Model.Name</td>
        </tr>
    

</table>