@using FirstDemo.Models
@using FirstDemo.Controllers
@{ 
    ViewData["Title"] = "StudentBranch";
}

<h1>StudentBranch</h1>
@{ 

    var std = new StudentInfo();
   




}
<table style="border: 1px solid black">
    <tr style="border:1px solid black">
        <th>RegNo</th>
        <th>Name</th>
    </tr>
  @foreach (var item in std.GetStudents())
  {
     <tr style="border:1px solid black">
         <td style="border:1px solid black">@item.RegNo</td>
         <td style="border:1px solid black">@item.Name</td>
     </tr>
  }

</table>