@using FirstDemo.Models
@model SummaryModel

@{
    ViewData["Title"] = "Summary";
    Layout = "_Layout2";
}

@section Styles{ 
<style>
    h1{
        color:yellow;
    }
</style>
}

<h1>Summary</h1>
<p>@Model.SummaryText</p>
@Html.TextBox("SummeryText",Model.SummaryText)
@section Scripts{ 
<script type="text/javascript">
    alert("Hello");
</script>

}
