
@{
    ViewData["Title"] = "HTML";
}

<table>
    <caption>My Multi Level Table</caption>
    <tr>
        <th >Column 0</th>
        <th >Column 1</th>
        <th colspan="2">Column 2</th>
    </tr>
    <tr>
        <th colspan="2"></th>
        <th colspan="2">Column 2a</th>
        <th>Column 2b</th>
    </tr>
    <tr>
        <td>82</td>
        <td>85</td>
        <td>78</td>
        <td>82</td>
        <td>77</td>
        <td>81</td>
    </tr>
</table>


