
@{
    ViewData["Title"] = "Sass";
}

@section Styles
{
    <link href="~/SASS files/_Demo.css" rel="stylesheet" />
}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h1>One of three columns</h1>
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>
