$btncolor:blue;
div {
    background-color: red;

    button {
        background-color: green;

        &:hover {
            background-color: blue;
        }
    }
 }

h1{
    background-color:$btncolor;
}
